{% load i18n %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <div class="btn-group">

          {% ifequal active "participating" %}
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false" href="#">
               {% trans "Participating in" %}
               <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
             </a>
          {% else %}
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false" href="#">
               {% trans "Left" %}
               <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
             </a>
          {% endifequal %}

          <ul class="dropdown-menu">
            <li><a href="{% url "spirit:topic:private:index-author" %}" >{% trans "Left" %}</a></li>
            <li><a href="{% url "spirit:topic:private:index" %}" >{% trans "Participating in" %}</a></li>
          </ul>

        </div>

      </div>

      <div class="col-xs-12 col-sm-6" style="text-align:right;">
        <div class="new-topic">
            <a class="btn btn-primary button" href="{% url "spirit:topic:private:publish" %}">{% trans "Create private topic" %}</a>
		    </div>

      </div>

    </div>

	</div>
