{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      {% include "spirit/admin/_side_menu.html" with active="dashboard" %}
    </div>
  </div>


    <div class="row">
      <div class="col-xs-12">
        <h1>{% trans "Dashboard" %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-info">
          <div class="message-title is-info">{% trans "Software" %}</div>

          <ul class="inline-list">
            <li>{% trans "Installed" %}: {{ version }}</li><!--
           --><li>{% trans "Latest" %}: ??</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2 class="headline">{% trans "Statistics" %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{% trans "Members" %}</div>
          </div>
          <div class="panel-body">{{ users_count }}</div>
        </div>
  		</div>

  		<div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{% trans "Topics" %}</div>
          </div>
          <div class="panel-body">{{ topics_count }}</div>
        </div>
  		</div>

  		<div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{% trans "Comments" %}</div>
          </div>
          <div class="panel-body">{{ comments_count }}</div>
        </div>
  		</div>

  		<div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{% trans "Likes" %}</div>
          </div>
          <div class="panel-body">{{ likes_count }}</div>
        </div>
  		</div>

  		<div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{% trans "Flags" %}</div>
          </div>
          <div class="panel-body">{{ flags_count }}</div>
        </div>
  		</div>

  		<div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{% trans "Categories" %}</div>
          </div>
          <div class="panel-body">{{ category_count }}</div>
        </div>
  		</div>

    </div>
</div>

{% endblock %}
