{% load i18n %}
{% load static from staticfiles %}

<div class="comment-text js-box-preview-content" style="display:none;"></div>
<div class="btn-group" role="group" aria-label="...">
	<a class="btn btn-default js-box-bold" href="#" title="{% trans "Bold" %}" role="button">
		<span class="glyphicon glyphicon glyphicon-bold" aria-hidden="true"></span>
	</a>
  <a class="btn btn-default js-box-italic" href="#" title="{% trans "Italic" %}" role="button">
		<span class="glyphicon glyphicon glyphicon-italic" aria-hidden="true"></span>
	</a>
  <a class="btn btn-default js-box-list" href="#" title="{% trans "List" %}" role="button">
		<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	</a>
  <a class="btn btn-default js-box-url" href="#" title="{% trans "URL" %}" role="button">
		<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
	</a>
  <a class="btn btn-default js-box-image" href="#" title="{% trans "Image" %}" role="button">
		<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
	</a>
  <a class="btn btn-default js-box-poll" href="#" title="{% trans "Poll" %}" role="button">
		<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	</a>
  <a class="btn btn-default js-box-preview" href="#" title="{% trans "Preview" %}" role="button">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	</a>
</div>

<script>
    $( document ).ready(function() {

        marked.setOptions( {
            renderer: new marked.Renderer(),
            gfm: true,
            tables: false,
            breaks: true,
            pedantic: false,
            sanitize: true,
            smartLists: false,
            smartypants: false
        } );

        $( '.js-reply' ).find( 'textarea' ).editor_image_upload( {
			csrfToken: "{{ csrf_token }}",
			target: "{% url "spirit:comment:image-upload-ajax" %}",
			placeholderText: "{% trans "uploading {image_name}" %}"
		} )
        .editor( {
			boldedText: "{% trans "bolded text" %}",
			italicisedText: "{% trans "italicised text" %}",
			listItemText: "{% trans "list item" %}",
			linkText: "{% trans "link text" %}",
			linkUrlText: "{% trans "link url" %}",
			imageText: "{% trans "image text" %}",
			imageUrlText: "{% trans "image url" %}",
			pollTitleText: "{% trans "Title" %}",
			pollChoiceText: "{% trans "Description" %}"
		} )
        .atwho({
			at: ':',
			tpl: "<li data-value=':${name}:'><i class=\"tw tw-${class_name}\"></i> ${name} </li>",
			data: $.emoji_list(),
            callbacks: {
                before_save: function(data) {return data},  // Avoid extra work
                tpl_eval: function(tpl, map) {
                    map.class_name = map.name
                            .split('_').join('-')
                            .split('+').join('plus');

                    try {
                        return tpl.replace(/\$\{([^\}]*)\}/g, function(tag, key, pos) {
                            return map[key]
                        });
                    } catch (error) {
                        return "";
                    }
                }

            }
		});

	});
</script>
