{% load i18n %}

<ul class="nav nav-tabs">
	<li role="presentation" class="{% ifequal active_tab "deleted" %} active{% endifequal %}">
		<a href="{% url "spirit:admin:topic:deleted" %}" >{% trans "Deleted" %}</a>
	</li>
  <li role="presentation" class="{% ifequal active_tab "closed" %} active{% endifequal %}">
		<a href="{% url "spirit:admin:topic:closed" %}" >{% trans "Closed" %}</a>
	</li>
  <li role="presentation" class="tab-link{% ifequal active_tab "pinned" %} active{% endifequal %}">
		<a href="{% url "spirit:admin:topic:pinned" %}" >{% trans "Pinned" %}</a>
	</li>
</ul>
