{% load spirit_tags i18n %}
<div class="containter-fluid">
  <div class="profile-img row" style="text-align:center;">
    <img class="profile-avatar img-circle" src="{% get_gravatar_url user=p_user size=200 %}" />
    <div class="profile-username h4">{{ p_user.username }}</div>
  </div>

  <div class="profile-info row" style="text-align:center;">
    <div class="profile-title">{% trans "Joined at" %} {{ p_user.date_joined|shortnaturaltime }}</div>
    <div class="profile-title">{% trans "Seen" %} {{ p_user.st.last_seen|shortnaturaltime }}</div>

    {% if user.st.is_administrator %}
      <div class="profile-title">{% trans "Last IP" %} {{ p_user.st.last_ip }}</div>
    {% endif %}
  </div>

    {% ifequal user.username p_user.username %}
        <div class="profile-preferences row" style="text-align:center;">
            <a class="btn btn-default button" role="button" href="{% url "spirit:user:update" %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {% trans "Preferences" %}</a>
        </div>
    {% else %}
        <div class="private-message">
            <a class="btn btn-default button" role="button" href="{% url "spirit:topic:private:publish" user_id=p_user.pk %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {% trans "Private Message" %}</a>
        </div>
    {% endifequal %}

    {% if user.st.is_administrator %}
        <div class="profile-preferences">
            <a class="btn btn-default button" role="button" href="{% url "spirit:admin:user:edit" user_id=p_user.pk %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {% trans "Edit user" %}</a>
        </div>
    {% endif %}

  <nav style="padding-bottom:2%;">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="{% ifequal active_tab 0 %} active{% endifequal %}"><a href="{% url "spirit:user:detail" pk=p_user.pk slug=p_user.st.slug %}" >{% trans "Comments" %}</a></li><!--
     --><li role="presentation" class="{% ifequal active_tab 1 %} active{% endifequal %}"><a href="{% url "spirit:user:topics" pk=p_user.pk slug=p_user.st.slug %}" >{% trans "Topics" %}</a></li><!--
     --><li role="presentation" class="{% ifequal active_tab 2 %} active{% endifequal %}"><a href="{% url "spirit:user:likes" pk=p_user.pk slug=p_user.st.slug %}" >{% trans "Likes" %}</a></li>
    </ul>
  </nav>

</div>
