{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Resend activation email" %}{% endblock %}

{% block head-extra %}
  <script>
   $(document).ready(function() {
     $("input").addClass("form-control");
   });
  </script>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <h1 class="headline">{% trans "Resend activation email" %}</h1>

  <div class="login">
      <form action="." method="post">
          {% csrf_token %}
          {% include "spirit/_form.html" %}

          <input class="btn btn-primary button" type="submit" name="post" value="{% trans "Resend email" %}" />
      </form>
  </div>
  
</div>

{% endblock %}
