{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Report" %}{% endblock %}

{% block head-extra %}
  <script>
   $(document).ready(function() {
     $("select, textarea").addClass("form-control");
   });
  </script>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <h1 class="headline">{% blocktrans trimmed with username=comment.user.username %}Reporting {{ username }}'s comment{% endblocktrans %}</h1>

  <form action="." method="post">
    {% csrf_token %}
    {% include "spirit/_form.html" %}
    <input class="btn btn-primary button" type="submit" name="post" value="{% trans "Report" %}" />
  </form>

</div>

{% endblock %}
