{% load spirit_tags i18n %}

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "spirit:index" %}">{{ config.site_name }}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            {% has_topic_notifications user as has_notifications %}
              {% comment %}
              <li><a class="header-tab-link js-tab" onClick="alert('need to implement')"
                     data-related=".js-search-content"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
              {% endcomment %}
              <li><a class="header-tab-link js-tab-notification{% if has_notifications %} is-highlighted{% endif %}"
                     href="{% url "spirit:topic:notification:index" %}" data-related=".js-notifications-content"
                     style="{% if has_notifications %}color:red;{% endif %}">
                     <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>
              <li class="dropdown">
                <a class="dropdown-toggle header-tab-link js-tab"
                   data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" href="{% url "spirit:user:menu" %}"
                   data-related=".js-user-content">{{ user.username }}
                   <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="menu-link" href="{% url "spirit:user:detail" pk=user.pk slug=user.st.slug %}">{% trans "Profile" %}</a></li>
                  <li><a class="menu-link" href="{% url "spirit:topic:index-active" %}">{% trans "Topics" %}</a></li>
                  <li><a class="menu-link" href="{% url "spirit:topic:unread:index" %}">{% trans "Unread topics" %}</a></li>
                  {% comment %}
                  <li><a class="menu-link" href="{% url "spirit:topic:private:index" %}">{% trans "Private topics" %}</a></li>
                  {% endcomment %}
                  {% if user.st.is_administrator %}
                  <li><a class="menu-link" href="{% url "spirit:admin:index" %}">{% trans "Admin" %}</a></li>
                  {% endif %}
                  <li><a class="menu-link js-post" href="{% url "spirit:user:auth:logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log out" %}</a></li>
                </ul>
              </li>
              {% else %}
              <li><a class="header-link" style="text-align: right;" href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log in" %}</a></li>
              {% endif %}
            </ul>



        </div>
      </div>
    </div>
  </nav>
</header>
