{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{% trans "Publish topic" %}{% endblock %}

{% block head-extra %}
  <script>
   $(document).ready(function() {
     $("input, select, textarea").addClass("form-control");
   });
  </script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 
           col-sm-10 col-sm-offset-1 
           col-md-8 col-md-offset-2">
        <h1 class="headline">{% trans "Publish topic" %}</h1>
        
        <form action="." method="post" class="js-reply">
          {% csrf_token %}


          
          {# topic #}
          {% include "spirit/_form.html" %}

          {# comment #}
          {% include "spirit/_form.html" with form=cform %}
          
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-left">
              {% include "spirit/comment/_editor.html" %}
            </div>

            {# margin that only appears in xs #}
            <div class="col-xs-12 visible-xs-block" style="height:10px;">
              &nbsp;
            </div>
            
            <div class="col-xs-12 col-sm-6 text-right">
              <input class="btn btn-primary" type="submit"
                     value="{% trans "Publish" %}" style="width: 100%;"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
