{% load i18n %}

<div class="container-fluid">
	<nav aria-label="Page navigation">
		<ul class="paginator pagination">
			<li class="paginator-pages"><a href="#">{% blocktrans trimmed with number=page.number num_pages=page.paginator.num_pages %}Page {{ number }} of {{ num_pages }}{% endblocktrans %}</a></li>
		    {% if page.has_other_pages %}
		        {% if page.number == 1 %}
		            <li><a class="paginator-button" href="?{{ page_var }}={{ page.next_page_number }}{{ extra_query }}{{ hashtag }}"><span aria-hidden="true">&raquo;</span></a></li><!--
		         --><li><a class="paginator-button" href="?{{ page_var }}={{ page.paginator.num_pages }}{{ extra_query }}{{ hashtag }}">{% trans "Last" %} <span aria-hidden="true">&raquo;</span></a></li>
		        {% elif page.number == page.paginator.num_pages %}
		            <li><a class="paginator-button" href="?{{ page_var }}=1{{ extra_query }}{{ hashtag }}"><span aria-hidden="true">&laquo;</span> {% trans "First" %}</a></li><!--
		         --><li><a class="paginator-button" href="?{{ page_var }}={{ page.previous_page_number }}{{ extra_query }}{{ hashtag }}"><span aria-hidden="true">&laquo;</span></a></li>
		        {% else %}
		            <li><a class="paginator-button" href="?{{ page_var }}={{ page.previous_page_number }}{{ extra_query }}{{ hashtag }}"><span aria-hidden="true">&laquo;</span></a></li><!--
		         --><li><a class="paginator-button" href="?{{ page_var }}={{ page.next_page_number }}{{ extra_query }}{{ hashtag }}"><span aria-hidden="true">&raquo;</span></a></li>
		        {% endif %}
		    {% endif %}
		</ul>
	</nav>
</div>
