{% load i18n %}

<div class="container-fluid">
  <nav aria-label="Page navigation">
    <ul class="paginator pagination">
        {% if page.num_pages == 1 %}
            <li class="paginator-pages">{% trans "Page 1 of 1" %}</li>
        {% else %}
            {% if page.number > 1 %}
                <li>
                  <a class="paginator-button" aria-label="Previous" href="?{{ page_var }}={{ page.previous_page_number }}{{ extra_query }}{{ hashtag }}">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
            {% endif %}

            {% for page_number in page.page_range %}
                <li><a class="paginator-button" href="?{{ page_var }}={{ page_number }}{{ extra_query }}{{ hashtag }}">{{ page_number }}</a></li>
            {% endfor %}

            {% if page.number < page.num_pages %}
                <li>
                  <a class="paginator-button" aria-label="Next" href="?{{ page_var }}={{ page.next_page_number }}{{ extra_query }}{{ hashtag }}">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
  </nav>
</div>
